@model IEnumerable<Inmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos";
}
@Html.Raw("<strong style='color: green;'>" + TempData["Mensaje"] + "</strong>")

@if (TempData["Error"] != null)
{
    @Html.Raw("<strong style='color: red;'>" + TempData["Error"] + "</strong>")
}
<h1>Inquilinos</h1>

<p >
    <a asp-action="Create" asp-route-returnUrl="@TempData["returnUrl"]">Crear Inquilino</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dni)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdInquilino, returnUrl = TempData["returnUrl"] }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdInquilino, returnUrl = TempData["returnUrl"] }) |
                    @if (!User.IsInRole("Empleado"))
                    {
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdInquilino, returnUrl = TempData["returnUrl"] })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
