@model IEnumerable<Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Pagos";
}
@Html.Raw("<strong style='color: green;'>" + TempData["Mensaje"] + "</strong>")

@if (TempData["Error"] != null)
{
    @Html.Raw("<strong style='color: red;'>" + TempData["Error"] + "</strong>")
    <a asp-action="Create" asp-controller="Contratos" asp-route-returnUrl="@TempData["returnUrl"]">(Crear Contrato)</a>
}


<h1>Pagos</h1>



@if (TempData["IdContrato"] != null)
{

    <h4 class="d-inline">Asociados al codigo de contrato: </h4>
    <h3 class="d-inline"><a asp-action="Details" asp-controller="Contratos" asp-route-id="@TempData["IdContrato"]" asp-route-returnUrl="@TempData["returnUrl"]">@TempData["IdContrato"]</a> </h3>
    @Html.ActionLink("(Quitar)", "index", new { }, new { @style = "font-size:70%;color:red;" })

    if (TempData["Estado"].ToString() == "Vigente") { 
        <a class="d-inline float-md-right btn-success rounded" asp-action="Create" asp-route-IdContrato="@TempData["IdContrato"]" asp-route-returnUrl="@TempData["returnUrl"]">Pagar</a>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDePago)
            </th>
            <th>
                Inquilino
            </th>
            <th>
                Direccion del Inmueble
            </th>
            <th>
                Codigo Contrato
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDePago)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Inquilinos" asp-route-id="@item.Contrato.Inquilino.IdInquilino" asp-route-returnUrl="@TempData["returnUrl"]">@(item.Contrato.Inquilino.Nombre + " " + item.Contrato.Inquilino.Apellido)</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Inmuebles" asp-route-id="@item.Contrato.Inmueble.IdInmueble" asp-route-returnUrl="@TempData["returnUrl"]">@item.Contrato.Inmueble.Direccion</a>
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Contratos" asp-route-id="@item.IdContrato" asp-route-returnUrl="@TempData["returnUrl"]">@item.IdContrato</a>
                    <br>
                    @Html.ActionLink("(Lista de Pagos)", "index", new { IdContrato = item.IdContrato }, new { @style = "font-size:70%; color:red;" })
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdPago, returnUrl = TempData["returnUrl"] }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdPago, returnUrl = TempData["returnUrl"] }) |
                    @if (!User.IsInRole("Empleado"))
                    {
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPago, returnUrl = TempData["returnUrl"] })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
