@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Inmueble</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantDeAmbientes" class="control-label"></label>
                <input asp-for="CantDeAmbientes" class="form-control" />
                <span asp-validation-for="CantDeAmbientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select class="form-control" name="Estado">
                    @foreach (var item in (IList<String>)ViewBag.Estado)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoDeUso" class="control-label"></label>
                <select class="form-control" name="TipoDeUso">
                    @foreach (var item in (IList<String>)ViewBag.TipoDeUso)
                    {
                    <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="TipoDeUso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoDeInmueble" class="control-label"></label>
                <select class="form-control" name="TipoDeInmueble">
                    @foreach (var item in (IList<String>)ViewBag.TipoDeInmueble)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
                <span asp-validation-for="TipoDeInmueble" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdPropietario" class="control-label"></label>
                <select class="form-control" name="IdPropietario">
                    @foreach (var item in (IList<Propietario>)ViewBag.Propietarios)
                    {
                        <option value="@item.IdPropietario">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="IdPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
