@model IEnumerable<Inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}
@Html.Raw("<strong style='color: green;'>" + TempData["Mensaje"] + "</strong>")
@Html.Raw("<strong style='color: red;'>" + TempData["Error"] + "</strong>")
@if (TempData["Error"] != null)
{
    <a asp-action="Create" asp-controller="Propietarios">(Crear Propietario)</a>
}
<h1>Inmuebles</h1>

<p>
    <a asp-action="Create">Crear Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeUso)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDeUso)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdInmueble }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdInmueble }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdInmueble })
                </td>
            </tr>
        }
    </tbody>
</table>
